* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 12pt;
  font-weight: bold;
  border-radius: 8px;
}

window#waybar {
  background-color: transparent;
}

window#waybar > box {
  margin: 5px;
  padding: 5px;
  background-color: #181825;
  border: none;
}

tooltip {
  background-color: #181825;
  border-radius: 4px;
}

tooltip label {
  color: #cdd6f4;
}

.modules-left > *,
.modules-center > *,
.modules-right > * {
  background-color: transparent;
}

.modules-left > * > *,
.modules-center > * > *,
.modules-right > * > * {
  padding: 2px 10px;
  background-color: #1e1e2e;
  border-radius: 4px;
}

#custom-launcher,
#custom-wf-recorder {
  font-size: 20px;
}

#cava {
  font-weight: normal;
}

#custom-launcher {
  color: #89dceb;
}

#custom-clock {
  color: #cdd6f4;
}

#custom-media {
  color: #a6adc8;
}

#temperature {
  color: #b4befe;
}

#cava {
  color: #89b4fa;
}

#pulseaudio {
  color: #cba6f7;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#battery {
  color: #f2cdcd;
}

#battery.warning,
#memory.warning {
  color: #eba0ac;
}

#battery.critical {
  color: #f38ba8;
}

#backlight {
  color: #eed49f;
}

#memory {
  color: #94e2d5;
}

#cpu {
  color: #89b4fa;
}

#network {
  color: #a6da95;
}

#network.disconnected {
  color: #a6adc8;
}

#custom-powermenu,
#custom-wf-recorder {
  color: #f38ba8;
}

#tray {
  color: #cdd6f4;
}

#custom-launcher,
#custom-media,
#pulseaudio,
#custom-powermenu {
  transition-property: background-color;
  transition-duration: 0.15s;
}

#custom-launcher:hover,
#custom-media:hover,
#pulseaudio:hover,
#custom-powermenu:hover {
  background-color: #313244;
}
